# Astro Runtime includes the following pre-installed providers packages: https://www.astronomer.io/docs/astro/runtime-image-architecture#provider-packages

apache-airflow-providers-amazon>=8.13.0
apache-airflow-providers-common-sql>=1.10.0
apache-airflow-providers-http>=4.9.0
apache-airflow-providers-smtp>=2.3.1
apache-airflow-providers-snowflake>=5.2.0
apache-airflow-providers-standard>=1.9.0
boto3>=1.28.0,<2.0
botocore>=1.31.0,<2.0
s3fs>=2023.10.0
jsonpath-ng==1.6.1
pandas>=2.0.0,<2.2.0
numpy>=1.24.0,<1.27.0
pandera==0.20.4
snowflake-connector-python>=3.7.0
snowflake-sqlalchemy>=1.5.0
SQLAlchemy>=1.4.0,<2.0
SQLAlchemy-Utils>=0.41.0,<0.42.0
SQLAlchemy-JSONField==1.0.2